body{
    margin: 0;
    background: #bcb9b9;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.slider{
    width: 10%;
}

.slider input{
    display: none;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 350px;
    perspective: 1000px;
}

.cards .item{
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.4);
    color: #fff;
    position: absolute;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: transform 0.4s;
    overflow: hidden;
}

.cards .item .main_content{
    width: 100%;
}

.cards .item .main_content .img{
    width: 25%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cards .item .main_content .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .item .main_content .content{
    display: block;
}

.cards .item .main_content .content h1{
    font-size: 30px;
    color: #fff;
}

.content .social .icon i{
    color: #000;
    font-size: 22px;
    transition: 0.5s;
}

.content .social .icon:hover i{
    color: var(--color);
}


.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.dots label{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #21262d;
    cursor: pointer;
    margin: 7px;
    transition-duration: 0.2s;
}



#c-1:checked ~ .dots label[for="c-1"],
#c-2:checked ~ .dots label[for="c-2"],
#c-3:checked ~ .dots label[for="c-3"],
#c-4:checked ~ .dots label[for="c-4"],
#c-5:checked ~ .dots label[for="c-5"]{
    transform: scale(2);
    background-color: #fff;
    box-shadow: 0px 0px 0px 3px #342f2fe6;
}

#c-1:checked ~ .dots label[for="c-2"],
#c-2:checked ~ .dots label[for="c-1"],
#c-2:checked ~ .dots label[for="c-3"],
#c-3:checked ~ .dots label[for="c-2"],
#c-3:checked ~ .dots label[for="c-4"],
#c-4:checked ~ .dots label[for="c-3"],
#c-4:checked ~ .dots label[for="c-5"],
#c-5:checked ~ .dots label[for="c-4"]{
    transform: scale(1.5);
}

#c-1:checked ~ .cards label[for="c-3"],
#c-2:checked ~ .cards label[for="c-4"],
#c-3:checked ~ .cards label[for="c-5"],
#c-4:checked ~ .cards label[for="c-1"],
#c-5:checked ~ .cards label[for="c-2"]{
    transform: translate3d(600px, 0, -180px) rotateY(-25deg);
    z-index: 2;
}

#c-1:checked ~ .cards label[for="c-2"],
#c-2:checked ~ .cards label[for="c-3"],
#c-3:checked ~ .cards label[for="c-4"],
#c-4:checked ~ .cards label[for="c-5"],
#c-5:checked ~ .cards label[for="c-1"]{
    transform: translate3d(300px, 0, -90px) rotateY(-15deg);
    z-index: 3;
}

#c-2:checked ~ .cards label[for="c-1"],
#c-3:checked ~ .cards label[for="c-2"],
#c-4:checked ~ .cards label[for="c-3"],
#c-5:checked ~ .cards label[for="c-4"],
#c-1:checked ~ .cards label[for="c-5"]{
    transform: translate3d(-300px, 0, -90px) rotateY(15deg);
    z-index: 3;
}

#c-3:checked ~ .cards label[for="c-1"],
#c-4:checked ~ .cards label[for="c-2"],
#c-5:checked ~ .cards label[for="c-3"],
#c-2:checked ~ .cards label[for="c-5"],
#c-1:checked ~ .cards label[for="c-4"]{
    transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#c-1:checked ~ .cards label[for="c-1"],
#c-2:checked ~ .cards label[for="c-2"],
#c-3:checked ~ .cards label[for="c-3"],
#c-4:checked ~ .cards label[for="c-4"],
#c-5:checked ~ .cards label[for="c-5"]{
    z-index: 4;
}




#c-1:checked ~ .cards label[for="c-1"] .main_content .content,
#c-2:checked ~ .cards label[for="c-2"] .main_content .content,
#c-3:checked ~ .cards label[for="c-3"] .main_content .content,
#c-4:checked ~ .cards label[for="c-4"] .main_content .content,
#c-5:checked ~ .cards label[for="c-5"] .main_content .content{
    display: block;
}
.button{
    padding: 1em 2em;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #161a20;
    color: #f0f0f0;
    border: none;
    border-radius: 1000px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.button::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #e25822, #e25822);
    z-index: -1;
}

.button:hover{
    z-index: 0;
    box-shadow: 5px 0 15px #e25822, -5px 0 15px #000;
}